<template>

    <div class="courses">
        <h2>Курсы</h2>
        <div class="courses__row">
            <div class="courses__item" v-for="(course, index) in courses" :key="index">
                <div class="courses__page">
                    <img class="courses__img" :src="course.src" :alt="course.alt">
                    <div class="courses__catalog">{{ course.catalog }}</div>
                </div>
                <div class="courses__info">
                    <h3 class="courses__title" v-html="course.title"></h3>
                    <div class="courses__subtitle">{{ course.subtitle }}</div>
                    <div class="courses__price">{{ course.price }}</div>
                    <hr class="courses__hr">
                </div>
            </div>
        </div>
    </div>

</template>




<script>

export default {   
    name: "CoursesPage",

    data() {
        return {
            courses: [
                {id: 1, src: require('@/assets/courseimg/course1.png'), alt: 'courses img 1', catalog: 'Программирование',title: "Основы программирования", 
                subtitle: 'Вы научитесь делать веб-сайты, разрабатывать удобные интерфейсы и решать проблемы пользователей.',
                price: '10 000₽'},
                
                {id: 2, src: require('@/assets/courseimg/course2.png'), alt: 'courses img 2', catalog: 'Дизайн', title: "Дизайн и UX", 
                subtitle: 'Вы научитесь делать веб-сайты, разрабатывать удобные интерфейсы и решать проблемы пользователей.',
                price: '10 000₽'},

                {id: 3, src: require('@/assets/courseimg/course3.png'), alt: 'courses img 3',  catalog: 'Маркетинг', title: "Smm специалист",
                subtitle: 'Вы научитесь делать веб-сайты, разрабатывать удобные интерфейсы и решать проблемы пользователей.',
                price: '10 000₽'},

                {id: 4, src: require('@/assets/courseimg/course4.png'), alt: 'courses img 4', catalog: 'Дизайн', title: "Веб дизайн<br> с нуля до PRO",
                subtitle: 'Вы научитесь делать веб-сайты, разрабатывать удобные интерфейсы и решать проблемы пользователей.',
                price: '10 000₽'}
            ]
        }
    },
}

</script>

<style lang="stylus" scoped>

.courses

    width 1140px
    margin 0 auto
    h2 
        font-weight 700
        font-size 48px
    &__row
        margin-top 48px
        display flex
        gap 10px
    &__item
        padding-bottom 47px
        flex 1
        width 345px
        height 474px
        background #FFFFFF
        box-shadow 0px 0px 8px rgba(0, 0, 0, 0.1)
        border-radius 10px
    &__page {
        position: relative
    }
    &__img
        margin-top -20px
        width 100%
    &__catalog
        position absolute
        z-index 1
        top 0px
        margin-left 136px
        padding 5px 
        color #fff
        font-weight 500
        font-size 12px
        align-items center
        background-color #007385
        border-radius 5px
        right 0
    &__info
        padding 0px 16px
    &__title
        font-weight 500
        font-size 24px
        margin-top 16px
    &__subtitle
        margin-top 10px
        font-weight 400
        font-size 14px
        color #888888
    &__price
        margin-top 50px
        font-weight 700
        font-size 14px
    &__hr
        margin-top 16px
        
</style>
