<template>

  <div id="marketing">
    <Faq/>
  </div>

</template>



<script>

import Faq from '@/components/Faq.vue'


export default {

  name: 'App',

  components: {
    Faq,
  }
}

</script>



<style lang="stylus">

*
  box-sizing border-box
  margin 0
  padding 0
  font-family 'Inter', sans-serif

#marketing
  width 1140px
  margin 0 auto

#app {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}

</style>

